html {
    scroll-behavior: smooth;
}
.body {
    max-width: 1440px;
    margin: auto;
    padding: 0px;
    position: relative;
}
/* header */
.header {
    background: rgba(242, 120, 92, 0.7) ;
    width: 1440px;
    height: 90px;
    display: flex;
    position: absolute;
    z-index: 100;
}
.logo {
    width: 216px;
    height: 31px;
    margin-left: 120px;
    margin-top: 25px;
}
.logo-img {
    width: 30px;
    height: 30px;
}
.logo-name {
    font-family: Magra, sans-serif;
    font-size: 32px;
    color: white;
    text-align: left;
    margin-left: 6px;
}
.nav-list {
    margin: 35px 0 0 158px;
    display: flex;
}
.nav-list-item {
    list-style-type: none;
    margin-left: 42px;
}
.nav-list-item:first-child {
    margin-left: 0px;
}
.nav-list-item-text {
    text-decoration: none;
    color: black;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    text-align: left;
    color: white;
}
.nav-button {
    width: 103px;
    height: 41px;
    margin-top: 25px;
    margin-left: 196px;
    background-color: #0D606F;
    border: #0D606F;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    font-family: 'Red Hat Text', sans-serif;
    font-size: 16px;
    color: white;
    line-height: 21px;
}
/* main content */
.main-content {
    position: relative;
}
/* preview */
.preview {
    width: 1440px;
    height: 765px;
    background: url(/img/background-preview.jpg);
    position: relative;
}
.preview-element {
    width: 892px;
    height: 422px;
    position: absolute;
    top: 122px;
    left: 120px;
}
.preview-title {
    font-family: Aleo, serif;
    font-size: 80px;
    font-weight: bold;
    color: white;
    margin: 0px;
}
.preview-text {
    font-family: Aleo, serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: white;
}
.search {
    width: 892px;
    height: 95px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    margin-top: 46px;
}
.input {
    width: 560px;
    height: 22px;
    margin-top: 32px;
    margin-left: 41px;
    border: none;
    background: none;
    font-family: Aleo, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    color: #F2785C;
}
::placeholder {
    color: #F2785C;
}
.search-button {
    width: 228px;
    height: 59px;
    background-color: #0D606F;
    border: #0D606F;
    border-radius: 10px;
    box-shadow:  0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    margin-top: 18px;
    margin-left: 45px;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 24px;
    color: white;
    line-height: 32px;
    cursor: pointer;
}
.bg-preview {
    width: 1440px;
    height: 765px;
    background: url(/img/background-preview.jpg);
}


/* section steps */
.steps {
    width: 1177px;
    height: 247px;
    margin-top: 80px;
    margin-left: 131px;
}
.steps-title {
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-size: 40px;
    font-weight: 500;
    color: #F2785C;
}
.steps-content {
    display: flex;
    justify-content: space-between;
    width: 1177px;
    height: 154px;
}
.steps-content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}  
.steps-content-item {
    font-family: Aleo, serif;
    font-size: 20px;
    font-weight: 400px;
    font-style: normal;
    color: #0D606F;
}
/* destination */
.destination {
    margin-top: 97px;
    display: flex;
    flex-direction: column;
}
.destination-title {
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
}
.destination-country {
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin-top: 46px;
}
.destination-item {
    margin-left: 60px;
    position: relative;
}
.destination-item-picture {
    border-radius: 16px;
}
.destination-item-text {
    position: absolute;
    top: 718px;
    left: 15px;
    font-family: 'Red Hat Text', sans-serif;
    font-size: 32px;
    font-weight: 500;
    font-style: normal;
    color: white;
}
.destination-dot {
    margin-top: 24px;
    margin-left: 681px;
}

.dot-first {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    background-color: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    display: inline-block;
}
.dot-second{
    height: 20px;
    width: 20px;
    margin-left: 10px;
    background-color: #F2785C;
    border-radius: 50%;
    display: inline-block;
}
.dot-third {
    height: 20px;
    width: 20px;
    margin-left: 10px;
    background-color: rgba(242, 120, 92, 0.5);
    border-radius: 50%;
    display: inline-block;
}
.destination-button {
    width: 228px;
    height: 59px;
    margin-top: 40px;
    margin-left: 607px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #0D606F;
    border: none;
}
.button-arrow {
    margin-left: 31px;
}
.button-text {
    margin-left: 10px;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: white;
}
/* section stories */
.stories {
    width: 1201px;
    height: 1322px;
    margin-top: 80px;
    margin-left: 119px;
    position: absolute;
    top: 2311px;
}
.stories-title {
    text-align: center;
    font-family: 'Red Hat Text', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    color: #F2785C;
    margin: 0px;
}
.stories-item.first {
    margin-top: 80px;
}
.stories-item {
    width: 1200px;
    height: 250px;
    margin-top: 30px;
    margin-left: 1px;
    display: flex;
}
.stories-picture {
    border-radius: 16px;
}
.stories-text {
    margin-left: 40px;
}
.stories-text-title {
    font-family: Aleo, serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    color: #0D606F;
    margin: 0px;
}
.stories-text-content {
    font: normal 400 20px Aleo,serif;
    color: #0D606F;
}
.read-more-link {
    font: normal 700 20px Aleo,serif;
    color: #0D606F;
}
.stories-button {
    width: 228px;
    height: 59px;
    margin-top: 40px;
    margin-left: 489px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #0D606F;
    border: none;
}
/* footer */
.footer {
    width: 729px;
    height: 34px;
    display: flex;
    margin-top: 55px;
    margin-left: 590px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 3703px;
}
.footer-text {
    font: normal 500 16px 'Red Hat Text', sans-serif;
    color: #fff;
}
.footer-icon-list {
    list-style-type: none;
    display: flex;
}
.footer-icon-list-item {
    margin-left: 20px;
}
.bg-2 {
    background: url(/img/bg\ 2.jpg);
    margin-top: 173px;
    width: 1445px;
    height: 1331px;
}
.bg-3 {
    width: 1445px;
    height: 1270px;
    background-color: rgba(255, 255, 255, 0.7);
}

/* button */
.button:hover {
    filter: brightness(130%);
}
.button:active {
    filter: brightness(80%);
}